* { 
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: auto;    
    padding: 20px;
    border-bottom: 1px solid rgba(82, 80, 80, 0.5);
    background: rgb(169,43,227);
    background: radial-gradient(circle, rgba(169,43,227,1) 0%, rgba(187,150,255,1) 100%);
    color: black;
    display: flex;
    justify-content: center;
}
img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.container_E {
    position: relative;
    flex: 5;
    background: rgb(169,43,227);
    background: linear-gradient(90deg, rgba(169,43,227,1) 0%, rgba(179,148,233,1) 100%);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container_E::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("./AN.jpg");
    background-size: cover;
    opacity: 0.2;
}
.name {
    font-size: 36px;
    margin: 128px 100px 0;

}
p {
    font-size: 48px;
    line-height: 32px;
    color: #f8f8f9;
    text-align: center;
    margin-top: 128px;
}

.container_D {
    flex: 8;

    background: #f1f1f4;
}

h1 {
    text-align: center;
}
.box  {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
}
.condicoes {
    display: node;
}

input{ 
    border:0;
    border-bottom:1px solid #555;  
    width:400px;
    padding:8px 0 5px 0;
    margin-top: 20px;
    font-size:16px;
    color:rgb(0, 0, 0);
  }
input:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #e74c3c;	
}
input:hover {
    background-color: rgb(243, 243, 243);
    transition: 0.5s;
}
.botao {
	color:#fff;
	background-color:rgb(169,43,227);
	outline: none;
    border: 0;
	padding:10px 20px;
	margin-top:50px;
	border-radius:5px;
	cursor:pointer;
	position:relative;
}

input:hover[type=submit]{
    background-color: rgb(187, 67, 243);
    transition: 0.5s;
}

